@(form: Form[(String,String)])(implicit flash: Flash)

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Plaati</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>

    <body>
        
        <header>
            <a href="@routes.RatingController.rate" id="logo">Plaati</a>
        </header>
        
        @helper.form(routes.Application.authenticate) {
            
            <h1>Sign in</h1>
            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <input type="username" name="username" placeholder="User name" id="username" value="@form("username").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <p>
                <button type="submit" id="loginbutton">Login</button>
            </p>
        }

        <p><a href="@routes.Application.register">Register new user</a></p>

        <p>Or use your <a href="@routes.OpenId.openId?op=Google"><img src="@routes.Assets.at("images/google_account.jpeg")"/></a> account</p>
        
    </body>
</html>
    


