@(albums: Seq[Album], user: User, ratings: Map[Int, Int])

@rater(userRating: Option[Int]) = {
    @for(r <- 1 to 10) {
        @defining("rating" + (if (userRating.getOrElse(-1) == r) " selected" else "")) { classes =>
            <span class='@classes' id='@r'>@r</span>
        }}}

@main("Rate songs") {
    <div class='header'>
        <div id="user">
            <span>@user.username</span><a href="@routes.Application.logout()">Logout</a>
        </div>
    </div>

    <div class="albums">
    @albums.map { album =>
    <div class="album">
        <div class="album-name">@album.name (@album.year)</div>
        @album.songs.map { song =>
        <div class="song" id="@song.id">
            <div class="song-name">@song.name</div>
            <div>
                <span class="rater">@rater(ratings.get(song.id))</span>
                <textarea class="comment" rows="3" cols="50"></textarea>
            </div>
        </div>
        }
    </div>
    }
    </div>

}