@(albums: Seq[Album], user: User, ratings: Map[Int, (Int, String)], stats: UserStats)

@rater(userRating: Option[Int]) = {
    @for(r <- 1 to 10) {
        @defining("rating" + (if (userRating.getOrElse(-1) == r) " selected" else "")) { classes =>
            <span class='@classes' data-rating='@r'>@r</span>
        }
    }
    <span class='remove-rating'>X</span>
}

@albumClasses(album: Album) = @{
    val albumClasses = List("album")

    if (album.songs.forall(s => ratings.get(s.getId).isDefined && ratings.get(s.getId).get._1 > 0)) {
        albumClasses
    } else {
        ("not-rated" :: albumClasses).mkString(" ")
    }
}

@songClasses(userRating: Option[Int]) = @{
    val songClasses = List("song")
    userRating match {
        case Some(r) if r > 0 => songClasses
        case _ => ("not-rated" :: songClasses).mkString(" ")
    }
}

@main("Rate songs") {
    <div class='header'>
        <div id='user'>
            <span>@user.username</span><a href='@routes.Application.logout()'>Logout</a>
        </div>
    </div>

    <div id='rating-stats'>
        Rated songs: <span id='rated-songs'>@stats.ratedSongs.size</span> / @stats.songs.size&nbsp;
        Rated albums: <span id='rated-albums'>@stats.ratedAlbums.size</span> / @albums.size&nbsp;
    </div>

    <div class='albums'>
        @albums.map { album =>
            <div class='@albumClasses(album)'>

                <div class='album-name'>@album.name (@album.year)</div>

                @album.songs.map { song =>
                    @defining(ratings.get(song.id)) { rating =>
                        <div class='@songClasses(rating.map(_._1))' id='@song.id'>
                            <div class='song-name'>@song.name</div>
                            <div>
                                <span class='rater'>@rater(rating.map(_._1))</span>
                                <textarea class='comment' rows='2' cols='48'>@rating.map(_._2)</textarea>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>

    <div id='navigator'>
        <img class='up' src='@routes.Assets.at("images/up.png")'/>
        <img class='down' src='@routes.Assets.at("images/down.png")'/>
    </div>
}